# 默认忽略的文件
/shelf/
/workspace.xml

# 基于编辑器的 HTTP 客户端请求
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Python bytecode
*.pyc

# Logs
*.log

# Virtualenv
venv/

# Build
build/
dist/
__pycache__/

# IDE
.vscode/
.idea

# 训练记录文件
*.0
/logs_train/